.paginator {
    margin: 10px;
    display: inline-block;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}
.pageNumber:hover {
    cursor: pointer;
    background-color: white;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    background-color: white;
}

.navButton {
    margin: auto;
    width: 105px;
}