.nav {
  grid-area: n;
  background-color: rgb(255, 214, 164);
  padding: 10px;

}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: cornflowerblue;
}

.friends {
  margin-top: 15px;
}

