.nav {
  grid-area: n;
  background-color: rgb(255, 214, 164);
}

.item a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.item a.activeLink {
  color: cornflowerblue;
}

